@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 240, 249, 255;
  --background-start-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 8, 47, 73;
    --background-end-rgb: 12, 74, 110;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* Benutzerdefinierte Animationen */
@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 24rem;
    opacity: 1;
  }
}

@keyframes highlight {
  0% {
    background-color: rgba(59, 130, 246, 0.2);
  }
  50% {
    background-color: rgba(59, 130, 246, 0.3);
  }
  100% {
    background-color: transparent;
  }
}

.animate-highlight {
  animation: highlight 2s ease-in-out;
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out;
} 